.container{
  display: table;
  height: 100%;
}
.row{
  display: table-cell;
  vertical-align: middle;
}
.row-centered{
  text-align: center;
}
.col-centered{
  display: inline-block;
  text-align: left;
  margin-right:-4px;
  float:none;
}
.form-control{
  margin-bottom: 10px;
}
